*{
	padding: 0;
	margin: 0 auto;
}

#container{
	font-family: sans-serif;
	font-weight: 300;
	color:#333;
	line-height: 1.254;
	background-color: #987;
	margin: 0;
	
}
#header #banner img{
	width: 350px;x
	height: 200px;
	position: absolute;
	top: 1em;
	left: 550px;
}
#header #banner {
	width: 100%;
	height: 150px;
	background-color: #FF33CC;
	position: relative;
}


/*==menu-nav==*/
#header #menu-nav a{
	list-style-type: none;
	text-decoration: none;
}
#header #menu-nav ul{
	list-style-type: none;
	background-color: #FF3399;
	margin: 0px;
	padding: 5px;
	display: block;
	border: 1px solid black;
}
#header #menu-nav ul li{
	font-style: bold;
	font-size: 120%;
	display: inline-block;
}

#header #menu-nav ul li a:hover{
	background-color: white;
}

#header #menu-nav ul li a{
	margin-right: 5px;
	margin-left: 50px;
}
/*--Bodymenu--*/
#bodypage{
	padding: 0 50px;
	position: relative;
	left: 0px;
	padding-left: 150px;

}

#menu{
	position: absolute;
	height: 100%;
	width: 220px;
	left: 50px;
	background-color: #664;
}
/*--Search--*/
#bodypage #menu #boxsearch input{
	border-radius: 10px;
	border: 1px solid blue;
	overflow: hidden;
	padding: 3px;
}

/*--category*/

#category{
	margin-top: 0px;
	background-color: brown;
}

#category ul{
	list-style-type: none;
	display: block;
	padding: 0px;
	
	width: 220px;
}

#menu #dm h3{
	display: block;
	width: 200px;
	padding: 18px 8px;
	border: 1px solid red;
	background-color: red;

}
#category ul li{
	padding-left:5px;
	display: block;
	line-height: 30px;
	border: 1px solid red;

}
#category ul li a{
	text-decoration: none;
	color: white;
}

#category ul li:hover {
	background-color: #555;
}

/*--socialnetwork--*/
#socialnetwork h2{
	display: block;
	width: 200px;
	padding: 18px 8px;
	border: 1px solid red;
	background-color: red;
}

#notification h2{
	display: block;
	width: 200px;
	padding: 18px 8px;
	border: 1px solid red;
	background-color: red;
}

/*--showimage--*/
#showimage{
	
	border: 2px solid red;
	margin-left: 220px;
	
}

/*footer*/
#footer{
	margin: 4em;
}
#footer strong{
	color: red;
}

hr{
	height: 3px;
	background-color: red;
}
