.header-nav li {
    margin-left: 30px;
}
.header-nav li:hover{
    border-bottom: 1px solid white;
}
body {
    padding-top: 150px;
}
.main-content {
    margin-top: 50px;
}
.underline {
    border-bottom: 6px solid #dc3545;
   color: #dc3545;
}
h3 {
    padding-bottom: 10px;
}

.card-img-top{
    width: 100%;
    height: 240px;
}
.card-title a {
    text-decoration: none !important;
}
.card-title a:hover{
    color: #dc3545 !important;
}
footer {
    margin-top: 200px;
    border-top: 10px solid #dc3545;
}